/* General styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 110dvh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #222;
    color: white;
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav_links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav_links li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav_links li a:hover {
    color: #f39c12;
    padding-bottom: 5px;
    border-bottom: #222 solid 1px;
}


/* Hero section */
.hero {
    
    padding: 40px;
    margin: auto;
    
}


.side{
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* background: #e67e22; */
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    background: #f39c12;
}

.profile-img {
    border-radius: 50%;
    display: block;
    margin: 10px 0;
}

.project-img {
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    font-size: 14px;
}

/* Form styles */
form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    margin-top: 15px;
}

.btn button {
    padding: 10px 20px;
    background: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn button:hover {
    background: #e67e22;
}
